DROP DATABASE [QLSINHVIEN];

GO

CREATE DATABASE [QLSINHVIEN];

GO

USE [QLSINHVIEN];

GO

CREATE TABLE KhoaHoc(
	MaKhoaHoc varchar(10) CONSTRAINT PK_KhoaHoc PRIMARY KEY NOT NULL,
	NgayBatDau datetime NOT NULL,
	NgayKetThuc datetime NOT NULL
	);

GO

INSERT INTO KhoaHoc VALUES ('K52', '09/05/2007', '06/30/2012');
INSERT INTO KhoaHoc VALUES ('K53', '09/05/2008', '06/30/2013');
INSERT INTO KhoaHoc VALUES ('K54', '09/05/2009', '06/30/2014');

GO

CREATE TABLE HeDaoTao(
	MaHe varchar(10) CONSTRAINT PK_HeDaoTao PRIMARY KEY NOT NULL,
	TenHe nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO HeDaoTao VALUES ('CQ', N'Chính quy');
INSERT INTO HeDaoTao VALUES ('TC', N'Tại chức');

GO

CREATE TABLE Khoa(
	MaKhoa varchar(10) CONSTRAINT PK_Khoa PRIMARY KEY NOT NULL,
	Tenkhoa nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO Khoa VALUES ('CD', N'Cầu đường');
INSERT INTO Khoa VALUES ('CK', N'Cơ khí xây dựng');
INSERT INTO Khoa VALUES ('CNTT', N'Công nghệ thông tin');

GO

CREATE TABLE NganhDaoTao(
	MaNganh varchar(10) CONSTRAINT PK_NganhDaoTao PRIMARY KEY NOT NULL,
	TenNganh nvarchar(50) NOT NULL,
	MaKhoa varchar(10) CONSTRAINT FK_NganhDaoTao_Khoa FOREIGN KEY REFERENCES Khoa(MaKhoa)
	);
	
GO

INSERT INTO NganhDaoTao VALUES ('CDT', N'Cảng - đường thủy', 'CTT');
INSERT INTO NganhDaoTao VALUES ('CG', N'Cơ giới hóa xây dựng','CK');
INSERT INTO NganhDaoTao VALUES ('CNPM', N'Công nghệ phần mềm', 'CNTT');

GO

CREATE TABLE Lop(
	MaLop varchar(10) CONSTRAINT PK_Lop PRIMARY KEY NOT NULL,
	TenLop nvarchar(50) NOT NULL,
	MaKhoaHoc varchar(10) CONSTRAINT FK_Lop_KhoaHoc FOREIGN KEY REFERENCES KhoaHoc(MaKhoaHoc) NOT NULL,
	MaHeDaoTao varchar(10) CONSTRAINT FK_Lop_HeDaoTao FOREIGN KEY REFERENCES HeDaoTao(MaHe) NOT NULL,
	MaNganh varchar(10) CONSTRAINT FK_Lop_NganhDaoTao FOREIGN KEY REFERENCES NganhDaoTao(MaNganh)NOT NULL
	);
	
GO


INSERT INTO Lop VALUES ('55PM', N'55 phần mềm', 'K55', 'CQ', 'CNPM');
INSERT INTO Lop VALUES ('55TH', N'55 tin học', 'K55', 'CQ', 'KTHT');
INSERT INTO Lop VALUES ('56PM', N'56 phần mềm', 'K56', 'CQ', 'CNPM');

GO

CREATE TABLE SinhVien(
	MaSinhVien varchar(10) CONSTRAINT PK_SinhVien PRIMARY KEY NOT NULL,
	TenSinhVien nvarchar(50) NOT NULL,
	NgaySinh datetime NOT NULL,
	GioiTinh bit NOT NULL,
	Anh image NULL,
	Lop varchar(10) CONSTRAINT FK_SinhVien_Lop FOREIGN KEY REFERENCES Lop(MaLop)NOT NULL,
	DiaChi nvarchar(50) NOT NULL,
	ChinhSachUuTien bit NULL
	);

GO


GO

CREATE TABLE HocKy(
	MaHocKy varchar(10) CONSTRAINT PK_HocKy PRIMARY KEY NOT NULL,
	TenHocKy nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO HocKy VALUES ('20101', N'Học kỳ 1 năm 2010');
INSERT INTO HocKy VALUES ('20102', N'Học kỳ 2 năm 2010');
INSERT INTO HocKy VALUES ('20111', N'Học kỳ 1 năm 2011');
--INSERT INTO HocKy VALUES ('20142', N'Học kỳ 2 năm 2014');
--INSERT INTO HocKy VALUES ('20151', N'Học kỳ 1 năm 2015');
--INSERT INTO HocKy VALUES ('20152', N'Học kỳ 2 năm 2015');

GO

CREATE TABLE MonHoc(
	MaMonHoc varchar(10) CONSTRAINT PK_MonHoc PRIMARY KEY NOT NULL,
	TenMonHoc nvarchar(50) NOT NULL,
	SoTinChi int NOT NULL
	);

GO

INSERT INTO MonHoc VALUES ('300101', N'Hình họa',2);
INSERT INTO MonHoc VALUES ('380211', N'Pháp luật việt nam đại cương',2);
INSERT INTO MonHoc VALUES ('390111', N'Đại số tuyến tính',3);








GO

CREATE TABLE BangDiem(
	Stt int IDENTITY(1,1) CONSTRAINT PK_BangDiem PRIMARY KEY NOT NULL,
	MaSinhVien varchar(10) CONSTRAINT FK_BangDiem_SinhVien FOREIGN KEY REFERENCES SinhVien(MaSinhVien) NOT NULL,
	MaMonHoc varchar(10) CONSTRAINT FK_BangDiem_MonHoc FOREIGN KEY REFERENCES MonHoc(MaMonHoc)NOT NULL,
	MaHocKy varchar(10) CONSTRAINT FK_BangDiem_HocKy FOREIGN KEY REFERENCES HocKy(MaHocKy)NOT NULL,
	DiemQuaTrinh float NOT NULL,
	DiemThi float NOT NULL
	);

GO

INSERT INTO BangDiem VALUES ('615155', '300101', '20101', '6.5', '1');
INSERT INTO BangDiem VALUES ('615155', '380211', '20101', '7', '5');
INSERT INTO BangDiem VALUES ('615155', '390111', '20101', '5.5', '3.5');








--SIM
/*
INSERT INTO BangDiem VALUES ('848955', '300101', '20101', '5.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '380211', '20101', '7', '7');
INSERT INTO BangDiem VALUES ('848955', '390111', '20101', '4.0', '0.5');
INSERT INTO BangDiem VALUES ('848955', '390121', '20101', '7.5', '5.0');
INSERT INTO BangDiem VALUES ('848955', '401701', '20101', '7.0', '5');
INSERT INTO BangDiem VALUES ('848955', '430101', '20101', '5.0', '3.0');
INSERT INTO BangDiem VALUES ('848955', '450101', '20101', '8.5', '5');
INSERT INTO BangDiem VALUES ('848955', '480101', '20101', '4.0', '3.0');
INSERT INTO BangDiem VALUES ('848955', '480102', '20101', '8.5', '5.5');
INSERT INTO BangDiem VALUES ('848955', '480103', '20101', '8.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '480104', '20101', '7.0', '5.0');

INSERT INTO BangDiem VALUES ('848955', '250101', '20102', '7.0', '2.5');
INSERT INTO BangDiem VALUES ('848955', '300102', '20102', '9.0', '2.5');
INSERT INTO BangDiem VALUES ('848955', '390141', '20102', '7.0', '2.0');
INSERT INTO BangDiem VALUES ('848955', '401703', '20102', '8.7', '7.5');
INSERT INTO BangDiem VALUES ('848955', '401712', '20102', '5.3', '3.5');
INSERT INTO BangDiem VALUES ('848955', '420101', '20102', '7.0', '8.0');
INSERT INTO BangDiem VALUES ('848955', '430102', '20102', '7.0', '6.0');
INSERT INTO BangDiem VALUES ('848955', '440121', '20102', '9.0', '5.5');
INSERT INTO BangDiem VALUES ('848955', '531723', '20102', '7.0', '4.5');

INSERT INTO BangDiem VALUES ('848955', '250102', '20111', '7.4', '1.1');
INSERT INTO BangDiem VALUES ('848955', '250103', '20111', '7.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '400101', '20111', '9.5', '7.0');
INSERT INTO BangDiem VALUES ('848955', '401806', '20111', '9.0', '8.0');
INSERT INTO BangDiem VALUES ('848955', '401808', '20111', '6.5', '8.0');
INSERT INTO BangDiem VALUES ('848955', '420102', '20111', '6.0', '6.5');
INSERT INTO BangDiem VALUES ('848955', '430103', '20111', '9.0', '6.0');
INSERT INTO BangDiem VALUES ('848955', '440141', '20111', '5.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '461727', '20111', '7.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '480101', '20111', '7.8', '6.0');

INSERT INTO BangDiem VALUES ('848955', '270201', '20112', '4.9', '2.0');
INSERT INTO BangDiem VALUES ('848955', '270812', '20112', '7.0', '4.5');
INSERT INTO BangDiem VALUES ('848955', '390111', '20112', '6.5', '6.0');
INSERT INTO BangDiem VALUES ('848955', '401816', '20112', '8.0', '7.5');
INSERT INTO BangDiem VALUES ('848955', '410112', '20112', '7.8', '7.0');
INSERT INTO BangDiem VALUES ('848955', '410113', '20112', '6.5', '6.4');
INSERT INTO BangDiem VALUES ('848955', '430104', '20112', '8.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '461725', '20112', '7.5', '4.5');
INSERT INTO BangDiem VALUES ('848955', '461736', '20112', '9.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '471726', '20112', '9.0', '1.5');
INSERT INTO BangDiem VALUES ('848955', '471780', '20112', '8.0', '3.0');
INSERT INTO BangDiem VALUES ('848955', '531733', '20112', '7.0', '4.0');

INSERT INTO BangDiem VALUES ('848955', '250102', '20121', '4.5', '3.5');
INSERT INTO BangDiem VALUES ('848955', '430105', '20121', '7.0', '6.0');
INSERT INTO BangDiem VALUES ('848955', '440214', '20121', '8.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '461714', '20121', '7.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '461737', '20121', '6.4', '5.0');
INSERT INTO BangDiem VALUES ('848955', '471717', '20121', '5.0', '4.0');
INSERT INTO BangDiem VALUES ('848955', '471728', '20121', '8.0', '8.0');
INSERT INTO BangDiem VALUES ('848955', '471732', '20121', '9.0', '7.5');
INSERT INTO BangDiem VALUES ('848955', '531713', '20121', '5.5', '4.0');
INSERT INTO BangDiem VALUES ('848955', '531734', '20121', '5.0', '5.0');


INSERT INTO BangDiem VALUES ('848955', '250102', '20122', '6.6', '5.3');
INSERT INTO BangDiem VALUES ('848955', '270201', '20122', '8.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '451762', '20122', '7.0', '6.0');
INSERT INTO BangDiem VALUES ('848955', '461730', '20122', '6.5', '3.0');
INSERT INTO BangDiem VALUES ('848955', '471729', '20122', '8.0', '7.8');
INSERT INTO BangDiem VALUES ('848955', '471733', '20122', '7.0', '6.3');
INSERT INTO BangDiem VALUES ('848955', '471734', '20122', '9.0', '9.0');
INSERT INTO BangDiem VALUES ('848955', '471781', '20122', '8.5', '7.0');
INSERT INTO BangDiem VALUES ('848955', '531735', '20122', '6.0', '4.0');
INSERT INTO BangDiem VALUES ('848955', '531815', '20122', '6.0', '2.0');
INSERT INTO BangDiem VALUES ('848955', '531824', '20122', '9.0', '6.5');
INSERT INTO BangDiem VALUES ('848955', '430101', '20122', '7.0', '7.5');

INSERT INTO BangDiem VALUES ('848955', '461731', '20131', '9.0', '9.5');
INSERT INTO BangDiem VALUES ('848955', '461761', '20131', '8.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '471731', '20131', '8.0', '7.0');
INSERT INTO BangDiem VALUES ('848955', '471735', '20131', '8.0', '7.5');
INSERT INTO BangDiem VALUES ('848955', '471738', '20131', '2.5', '7.0');
INSERT INTO BangDiem VALUES ('848955', '471740', '20131', '8.0', '8.0');
INSERT INTO BangDiem VALUES ('848955', '471741', '20131', '5.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '471774', '20131', '8.0', '4.0');
INSERT INTO BangDiem VALUES ('848955', '531732', '20131', '7.5', '7.5');

INSERT INTO BangDiem VALUES ('848955', '461751', '20132', '6.6', '6.1');
INSERT INTO BangDiem VALUES ('848955', '461781', '20132', '9.0', '9.0');
INSERT INTO BangDiem VALUES ('848955', '471730', '20132', '7.0', '5.0');
INSERT INTO BangDiem VALUES ('848955', '471752', '20132', '8.0', '6.5');
INSERT INTO BangDiem VALUES ('848955', '471771', '20132', '7.0', '6.5');
INSERT INTO BangDiem VALUES ('848955', '471772', '20132', '7.0', '3.0');
INSERT INTO BangDiem VALUES ('848955', '471773', '20132', '9.5', '8.0');
INSERT INTO BangDiem VALUES ('848955', '471782', '20132', '10.0', '8.8');
INSERT INTO BangDiem VALUES ('848955', '471783', '20132', '8.0', '8.0');
INSERT INTO BangDiem VALUES ('848955', '471784', '20132', '6.6', '6.5');
INSERT INTO BangDiem VALUES ('848955', '471811', '20132', '9.0', '9.0');
INSERT INTO BangDiem VALUES ('848955', '531815', '20132', '6.0', '4.5');

INSERT INTO BangDiem VALUES ('848955', '451780', '20141', '8.5', '8.5');
--INSERT INTO BangDiem VALUES ('848955', '451781', '20141', '8.0', '8.0');

--THỦY
INSERT INTO BangDiem VALUES ('847655', '461781', '20132', '9.5', '6.0');
INSERT INTO BangDiem VALUES ('847655', '471730', '20132', '8.8', '8.0');
INSERT INTO BangDiem VALUES ('847655', '471752', '20132', '8.9', '7.5');
INSERT INTO BangDiem VALUES ('847655', '471782', '20132', '5', '5');*/

GO

CREATE TABLE DoiDiem(
	Stt int IDENTITY(1,1) CONSTRAINT PK_DoiDiem PRIMARY KEY NOT NULL,
	DiemChu varchar(10) NULL,
	DiemSo float NULL,
	KetLuan nvarchar(10) NULL
	);
	
GO

INSERT INTO DoiDiem VALUES ('F', '0', N'Học lại');
INSERT INTO DoiDiem VALUES ('D', '1', N'Qua');
INSERT INTO DoiDiem VALUES ('D+', '1.5', N'Qua');

GO

CREATE TABLE ThongTinDanhNhap(
	TaiKhoan varchar(30) CONSTRAINT PK_ThongTinDanhNhap PRIMARY KEY NOT NULL,
	MatKhau varchar(30) NOT NULL,
	Quyen nvarchar(30) NOT NULL,
	TrangThai bit
	);

GO

INSERT INTO ThongTinDanhNhap VALUES ('chukimmuoi','pomcoi',N'Admin', 0);
INSERT INTO ThongTinDanhNhap VALUES ('dothisim','pomcoi',N'Quản Lý', 0);
INSERT INTO ThongTinDanhNhap VALUES ('nguyenthithuy','pomcoi',N'Quản Lý', 0);

/*###=========================GIAO DIỆN DANH SÁCH SINH VIÊN===================###*/
--DANH SÁCH SINH VIÊN.
GO
CREATE PROC DanhSachSinhVien
AS
	SELECT MaSinhVien, TenSinhVien, NgaySinh, GioiTinh, Lop, DiaChi, ChinhSachUuTien FROM SinhVien ORDER BY TenSinhVien ASC;
--TÌM KIẾM SINH VIÊN.
GO
CREATE PROC TimKiemSinhVien
@TimKiem nvarchar(50)
AS
	SELECT MaSinhVien, TenSinhVien, NgaySinh, GioiTinh, Lop, DiaChi, ChinhSachUuTien 
	FROM SinhVien WHERE MaSinhVien LIKE '%'+@TimKiem+'%' OR TenSinhVien LIKE '%'+@TimKiem+'%' 
	OR Lop LIKE '%'+@TimKiem+'%';
--DANH SÁCH LƠP HỌC
GO
CREATE PROC DanhSachLop
AS
	SELECT * FROM Lop;
--THÊM SINH VIÊN MỚI.
GO
CREATE PROC ThemSinhVien
@MaSinhVien varchar(10),
@TenSinhVien nvarchar(50),
@NgaySinh datetime,
@GioiTinh bit,
@Anh image,
@Lop varchar(10),
@DiaChi nvarchar(50),
@ChinhSachUuTien bit
AS
	INSERT INTO SinhVien VALUES (@MaSinhVien, @TenSinhVien, @NgaySinh, @GioiTinh, @Anh, @Lop, 
	@DiaChi, @ChinhSachUuTien);
--SỬA THÔNG TIN SINH VIÊN.
GO
CREATE PROC SuaThongTinSinhVien
@MaSinhVien varchar(10),
@TenSinhVien nvarchar(50),
@NgaySinh datetime,
@GioiTinh bit,
@Lop varchar(10),
@DiaChi nvarchar(50),
@ChinhSachUuTien bit
AS
	UPDATE SinhVien SET TenSinhVien = @TenSinhVien, NgaySinh = @NgaySinh, 
	GioiTinh = @GioiTinh, Lop = @Lop, DiaChi = @DiaChi, ChinhSachUuTien = @ChinhSachUuTien 
	WHERE MaSinhVien = @MaSinhVien;	
--LẤY RA ẢNH CỦA MỘT SINH VIÊN.
GO
CREATE PROC LayAnhSinhVien
@TimKiem nvarchar(50)
AS
	SELECT Anh FROM SinhVien WHERE MaSinhVien = @TimKiem;
--XÓA SINH VIÊN.
GO
CREATE PROC XoaSinhVien
@Xoa varchar(10)
AS
	DELETE FROM SinhVien WHERE MaSinhVien = @Xoa;

/*###=========================GIAO DIỆN DANH SÁCH LỚP======================###*/
--LẤY RA DANH SÁCH VÀ THÔNG TIN LỚP HỌC.
GO
CREATE PROC DanhSach_ThongTin_Lop
AS
SELECT A.MaLop, A.TenLop, A.MaKhoaHoc, C.TenHe, B.TenNganh, D.Tenkhoa 
FROM Lop A, NganhDaoTao B, HeDaoTao C, Khoa D
WHERE A.MaNganh = B.MaNganh AND A.MaHeDaoTao = C.MaHe AND B.MaKhoa = D.MaKhoa 
ORDER BY Tenkhoa ASC, MaKhoaHoc DESC, MaLop ASC;
--LẤY RA DANH SÁCH 14 HỌC KỲ GẦN NHẤT
GO
CREATE PROC DanhSachHocKy
AS
	SELECT TOP 14 * FROM HocKy ORDER BY MaHocKy DESC;
--DANH SÁCH MÔN HỌC
GO
CREATE PROC DanhSachMonHoc
AS
	SELECT * FROM MonHoc ORDER BY TenMonHoc ASC;
--TÌM KIẾM MÔN HỌC
GO
CREATE PROC TimKiemMonHoc
@TenMonHoc nvarchar(50)
AS
	SELECT * FROM MonHoc WHERE TenMonHoc LIKE ''+@TenMonHoc+'%'  ORDER BY TenMonHoc ASC;
--DANH SÁCH SINH VIÊN CỦA LỚP HOC.
GO
CREATE PROC DanhSachSinhVienCuaLop
@MaLop varchar(10)
AS
	SELECT MaSinhVien, TenSinhVien FROM SinhVien WHERE Lop = @MaLop ORDER BY TenSinhVien ASC;
--LẤY RA ĐIỂM TRONG 1 HỌC KỲ CỦA SINH VIÊN.
GO
CREATE PROC LayDiemTheoKySinhVien
@MaSinhVien varchar(10),
@MaHocKy varchar(10) 
AS
	SELECT A.STT, A.MaHocKy, A.MaMonHoc, B.TenMonHoc, B.SoTinChi, A.DiemQuaTrinh, A.DiemThi, ROUND((A.DiemQuaTrinh*0.4 + A.DiemThi*0.6),1)[Diem Tong Ket],
	CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) >= 8.45 THEN 'A'
	END [Diem Chu], (b.SoTinChi*c.DiemSo)[Diem Tich Luy], c.KetLuan
	FROM BangDiem A, MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc AND C.DiemChu = 
	(CASE
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) AND (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND A.MaSinhVien = @MaSinhVien AND A.MaHocKy = @MaHocKy ORDER BY MaMonHoc ASC, MaHocKy ASC;
--THÊM ĐIỂM QUÁ TRÌNH VÀ ĐIỂM THI VÀO BẢNG ĐIỂM
GO
CREATE PROC ThemKetQua
@MaSinhVien varchar(10),
@MaMonHoc varchar(10),
@MaHocKy varchar(10),
@DiemQuaTrinh float,
@DiemThi float
AS
	INSERT INTO BangDiem VALUES (@MaSinhVien, @MaMonHoc, @MaHocKy, @DiemQuaTrinh, @DiemThi);
--UPFATE ĐIỂM QUÁ TRÌNH VÀ ĐIỂM THI
GO
CREATE PROC UpDateDiemQTVaDiemThi
@MaSinhVien varchar(10),
@MaMonHoc varchar(10),
@MaHocKy varchar(10),
@DiemQuaTrinh float,
@DiemThi float
AS
	UPDATE BangDiem SET DiemQuaTrinh = @DiemQuaTrinh, DiemThi = @DiemThi
	WHERE MaSinhVien = @MaSinhVien AND MaMonHoc = @MaMonHoc AND MaHocKy = @MaHocKy;
--XÓA ĐIỂM CỦA MỘT SINH VIÊN.
GO
CREATE PROC XoaDiemCuaSinhVien
@STT int
AS
	DELETE FROM BangDiem WHERE Stt = @STT;
/*###=========================GIAO DIỆN QUẢN LÝ LỚP======================###*/
--LẤY BẢNG HỆ ĐÀO TẠO
GO
CREATE PROC DanhSachHeDaoTao
AS
	SELECT * FROM HeDaoTao;
--LẤY BẢNG NGÀNH ĐÀO TẠO
GO
CREATE PROC DanhSachNganhDaoTao
AS
	SELECT MaNganh, TenNganh FROM NganhDaoTao;
--LẤY DANH SÁCH KHÓA HỌC
GO
CREATE PROC DanhSachKhoaHoc
AS
	SELECT MaKhoaHoc FROM KhoaHoc ORDER BY MaKhoaHoc DESC;
--THÊM LỚP HỌC MỚI.
GO
CREATE PROC ThemLopHocMoi
@MaLop varchar(10),
@TenLop nvarchar(50),
@MaKhoaHoc varchar(10),
@MaHeDaoTao varchar(10),
@MaNganh varchar(10)
AS
	INSERT INTO Lop(MaLop, TenLop, MaKhoaHoc, MaHeDaoTao, MaNganh) 
	VALUES (@MaLop, @TenLop, @MaKhoaHoc, @MaHeDaoTao, @MaNganh);
--SỬA THÔNG TIN LỚP HỌC
GO
CREATE PROC SuaThongTinLopHoc
@MaLop varchar(10),
@TenLop nvarchar(50),
@MaKhoaHoc varchar(10),
@MaHeDaoTao varchar(10),
@MaNganh varchar(10)
AS
	UPDATE Lop SET TenLop = @TenLop, MaKhoaHoc = @MaKhoaHoc, MaHeDaoTao = @MaHeDaoTao, MaNganh = @MaNganh
	WHERE MaLop = @MaLop;
--TÌM KIẾM NGÀNH ĐÀO TẠO.
GO
CREATE PROC TimKiemNganhDaoTao
@TenNganh nvarchar(50)
AS
	SELECT * FROM NganhDaoTao WHERE TenNganh LIKE ''+@TenNganh+'%'  ORDER BY TenNganh ASC;
--XÓA LỚP HỌC
GO
CREATE PROC XoaLopHoc
@MaLop varchar(10)
AS
	DELETE FROM Lop WHERE MaLop = @MaLop;
--TÌM KIẾM LỚP HỌC
GO
CREATE PROC TimKiemLopHoc
@TimKiem varchar(10)
AS
SELECT A.MaLop, A.TenLop, A.MaKhoaHoc, C.TenHe, B.TenNganh, D.Tenkhoa 
FROM Lop A, NganhDaoTao B, HeDaoTao C, Khoa D
WHERE A.MaNganh = B.MaNganh AND A.MaHeDaoTao = C.MaHe AND B.MaKhoa = D.MaKhoa
AND (A.MaLop LIKE '%'+@TimKiem+'%' OR A.TenLop LIKE '%'+@TimKiem+'%' OR D.Tenkhoa LIKE '%'+@TimKiem+'%'
OR C.TenHe LIKE '%'+@TimKiem+'%' OR B.TenNganh LIKE '%'+@TimKiem+'%' OR A.MaKhoaHoc LIKE '%'+@TimKiem+'%')
ORDER BY Tenkhoa ASC, MaKhoaHoc DESC, MaLop ASC;
/*###=========================GIAO DIÊN XEM KẾT QUẢ HỌC TẬP CỦA SINH VIÊN======================###*/
--LẤY RA TOÀN BỘ KẾT QUẢ HỌC TẬP CỦA SINH VIÊN.
GO
CREATE PROC LayKetQuaHocTap
@MaSinhVien varchar(10)
AS
	SELECT A.STT, A.MaHocKy, A.MaMonHoc, B.TenMonHoc, B.SoTinChi, A.DiemQuaTrinh, A.DiemThi, ROUND((A.DiemQuaTrinh*0.4 + A.DiemThi*0.6),1)[Diem Tong Ket],
	CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) >= 8.45 THEN 'A'
	END [Diem Chu], (b.SoTinChi*c.DiemSo)[Diem Tich Luy], c.KetLuan
	FROM BangDiem A, MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc AND C.DiemChu = 
	(CASE
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (a.DiemQuaTrinh*0.4 + a.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND A.MaSinhVien = @MaSinhVien ORDER BY MaHocKy ASC, MaMonHoc ASC;
--TOÀN BỘ KẾT QUẢ HỌC TẬP - KHÔNG TÍNH MÔN TRƯỢT VÀ TRÙNG
GO
CREATE PROC KetQuaTongKetDaoTao
@MaSinhVien varchar(10)
AS
	SELECT SUM(B.SoTinChi)[SO TIN CHI TICH LUY],
	   ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.4 + A.DiemThi*0.6))/SUM(B.SoTinChi)),2)[DIEM TICH LUY HE 10],
	   ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DIEM TICH LUY HE 4]
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.4 + B.DiemThi*0.6) AS DIEM FROM BangDiem B 
			WHERE MaSinhVien = @MaSinhVien 
			GROUP BY B.MaMonHoc) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) > 3.95 ;
--KẾT QUẢ TỔNG KẾT THEO KỲ - TÍNH MÔN TRƯỢT.
----SỐ TÍN CHỈ ĐẠT - KHÔNG TÍNH MÔN TRƯỢT.
GO
CREATE PROC SoTinChiDat
@MaSinhVien varchar(10),
@MaHocKy varchar(10)
AS
	SELECT SUM(B.SoTinChi)[SO TIN CHI DAT]
	FROM BangDiem A , MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND MaSinhVien = @MaSinhVien AND MaHocKy = @MaHocKy;
----KẾT QUẢ HỌC TẬP - TÍNH MÔN TRƯỢT.
GO
CREATE PROC KetQuaTongKetHocKy
@MaSinhVien varchar(10),
@MaHocKy varchar(10)
AS
	SELECT
	   ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.4 + A.DiemThi*0.6))/SUM(B.SoTinChi)),2)[DIEM TRUNG BINH HE 10],
	   ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DIEM TRUNG BINH HE 4]
	FROM BangDiem A , MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND MaSinhVien = @MaSinhVien AND MaHocKy = @MaHocKy;
--/*###=========================GIAO DIỆN XÉT HỌC BỔNG======================###*/
--LẤY DANH SÁCH KHOA
GO
CREATE PROC DanhSachKhoa
AS
	SELECT MaKhoa, Tenkhoa FROM Khoa ORDER BY Tenkhoa ASC; 
--DANH SÁCH SINH VIÊN TOÀN TRƯỜNG ĐẠT HỌC BỔNG TRONG HỌC KỲ GẦN NHẤT. 
GO
CREATE PROC DanhSachSinhVienXetHocBong
@MaHocKy varchar(10)
AS
	SELECT
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe4]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND A.MaHocKy = @MaHocKy AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 THEN 'D+'
	END) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2) >= 2.5
	ORDER BY [DiemTrungBinhHocKyHe4] DESC;
--DANH SÁCH SINH VIÊN ĐẠT HỌC BỔNG CỦA KHOA.
GO
CREATE PROC DanhSachSinhVienXetHocBong_Khoa
@MaHocKy varchar(10),
@TimKiem varchar(10)
AS
	SELECT
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe4]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND A.MaHocKy = @MaHocKy AND H.MaKhoa = @TimKiem AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 THEN 'D+'
	END) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2) >= 2.5
	ORDER BY [DiemTrungBinhHocKyHe4] DESC;
--DANH SÁCH SINH VIÊN ĐẠT HỌC BỔNG CỦA KHOA - TOP.
GO
CREATE PROC DanhSachSinhVienXetHocBong_Khoa_Top
@MaHocKy varchar(10),
@TimKiem varchar(10),
@Top int
AS
	SELECT TOP (@Top) WITH TIES
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe4]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND A.MaHocKy = @MaHocKy AND H.MaKhoa = @TimKiem AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 3.95 THEN 'F'
		WHEN 3.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 THEN 'D+'
	END) AND (M.DiemQuaTrinh*0.4 + M.DiemThi*0.6) < 5.45 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2) >= 2.5
	ORDER BY [DiemTrungBinhHocKyHe4] DESC;	
--/*###=========================GIAO DIỆN XÉT RA TRƯỜNG======================###*/
--DANH SÁCH SINH VIÊN HẾT THỜI GIAN HỌC TẬP - HOẶC ĐỦ ĐIỀU KIÊN RA TRƯỜNG.
GO
CREATE PROC DanhSachSinhVienRaTruong
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND ((DATEDIFF(DD, GETDATE(), C.NgayKetThuc) <=0 AND DATEDIFF(DD, GETDATE(), C.NgayKetThuc) > -365)
	OR A.MaSinhVien IN
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.4 + B.DiemThi*0.6) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) > 3.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 130))
	ORDER BY A.TenSinhVien ASC;
--DANH SÁCH SINH VIÊN RA TRƯỜNG ĐƯỢC NHẬN BẰNG.
GO
CREATE PROC DanhSachSinhVienRaTruongDuocNhanBang
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND (DATEDIFF(DD, GETDATE(), C.NgayKetThuc) > -365)
	AND A.MaSinhVien IN
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.4 + B.DiemThi*0.6) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) > 3.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 130)
	ORDER BY A.TenSinhVien ASC;
--DANH SÁCH SINH VIÊN RA TRƯỜNG KHÔNG ĐƯỢC NHẬN BẰNG.
GO
CREATE PROC DanhSachSinhVienRaTruongKhongDuocNhanBang
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND DATEDIFF(DD, GETDATE(), C.NgayKetThuc) <=0 AND DATEDIFF(DD, GETDATE(), C.NgayKetThuc) > -365
	AND A.MaSinhVien NOT IN
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.4 + B.DiemThi*0.6) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN 3.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 4.95 THEN 'D'
		WHEN 4.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 5.45 THEN 'D+'
		WHEN 5.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.45 THEN 'C'
		WHEN 6.45 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 6.95 THEN 'C+'
		WHEN 6.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 7.95 THEN 'B'
		WHEN 7.95 <= (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) < 8.45 THEN 'B+'
		WHEN (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) >= 8.45 THEN 'A'
	END) AND (A.DiemQuaTrinh*0.4 + A.DiemThi*0.6) > 3.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 130)
	ORDER BY A.TenSinhVien ASC;
--/*###=========================GIAO DIỆN KHÓA HỌC======================###*/
--LẤY RA DANH SÁCH CÁC KHÓA HỌC TRONG TRƯỜNG
GO
CREATE PROC DanhSach_ThongTin_KhoaHoc
AS
	SELECT MaKhoaHoc, NgayBatDau,NgayKetThuc 
	FROM KhoaHoc ORDER BY MaKhoaHoc DESC;
--THÊM KHÓA HỌC MỚI
GO
CREATE PROC ThemKhoaHoc
@MaKhoaHoc varchar(10),
@NgayBatDau datetime,
@NgayKetThuc datetime
AS
	INSERT INTO KhoaHoc VALUES (@MaKhoaHoc, @NgayBatDau, @NgayKetThuc); 
--CHỈNH SỬA KHÓA HỌC
GO
CREATE PROC ChinhSuaKhoaHoc
@MaKhoaHoc varchar(10),
@NgayBatDau datetime,
@NgayKetThuc datetime
AS
	UPDATE KhoaHoc SET NgayBatDau = @NgayBatDau, NgayKetThuc = @NgayKetThuc WHERE MaKhoaHoc = @MaKhoaHoc;
--XÓA KHÓA HỌC
GO
CREATE PROC XoaKhoaHoc
@MaKhoaHoc varchar(10)
AS
	DELETE FROM KhoaHoc WHERE MaKhoaHoc = @MaKhoaHoc;
--TÌM KIẾM KHÓA HỌC
GO
CREATE PROC TimKiemKhoaHoc
@MaKhoaHoc varchar(10)
AS
	SELECT * FROM KhoaHoc WHERE MaKhoaHoc LIKE '%'+@MaKhoaHoc+'%' ORDER BY MaKhoaHoc DESC;

--/*###=========================GIAO DIỆN MÔN HỌC======================###*/
--LẤY RA DANH SÁCH CÁC MÔN HỌC TRONG TRƯỜNG
GO
CREATE PROC DanhSachMonHocToanTruong
AS
	SELECT MaMonHoc, TenMonHoc, SoTinChi FROM MonHoc ORDER BY MaMonHoc ASC;
--XÓA MÔN HỌC THEO MÃ MÔN
GO
CREATE PROC XoaMonHoc
@MaMonHoc varchar(10)
AS
	DELETE FROM MonHoc WHERE MaMonHoc = @MaMonHoc;
--THÊM MÔN HỌC MỚI
GO
CREATE PROC ThemMonHoc
@MaMonHoc varchar(10),
@TenMonHoc nvarchar(50),
@SoTinChi int
AS
	INSERT INTO MonHoc(MaMonHoc, TenMonHoc, SoTinChi) VALUES (@MaMonHoc, @TenMonHoc, @SoTinChi);
--UPDATE MÔN HOC
GO
CREATE PROC SuaMonHoc
@MaMonHoc varchar(10),
@TenMonHoc nvarchar(50),
@SoTinChi int
AS
	UPDATE MonHoc SET TenMonHoc = @TenMonHoc, SoTinChi = @SoTinChi WHERE MaMonHoc = @MaMonHoc;
--TÌM KIẾM MÔN HỌC
GO
CREATE PROC TimMonHoc
@TimKiem nvarchar(50)
AS
	SELECT MaMonHoc, TenMonHoc, SoTinChi 
	FROM MonHoc WHERE MaMonHoc LIKE '%'+@TimKiem+'%' OR TenMonHoc LIKE '%'+@TimKiem+'%'
	OR SoTinChi LIKE '%'+@TimKiem+'%' ORDER BY MaMonHoc ASC;
--/*###=========================GIAO DIỆN HỌC KỲ======================###*/
--LẤY RA DANH SÁCH HỌC KỲ
GO
CREATE PROC DanhSachThongTinHocKy
AS
	SELECT MaHocKy, TenHocKy FROM HocKy ORDER BY MaHocKy DESC;
--XÓA HỌC KỲ
GO
CREATE PROC XoaHocKy
@MaHocKy varchar(10)
AS
	DELETE FROM HocKy WHERE MaHocKy = @MaHocKy;
--THÊM HỌC KỲ
GO
CREATE PROC ThemHocKy
@MaHocKy varchar(10),
@TenHocKy nvarchar(50)
AS
	INSERT INTO HocKy(MaHocKy, TenHocKy) VALUES (@MaHocKy, @TenHocKy);
--SỬA HỌC KỲ
GO
CREATE PROC SuaHocKy
@MaHocKy varchar(10),
@TenHocKy nvarchar(50)
AS
	UPDATE HocKy SET TenHocKy = @TenHocKy WHERE MaHocKy = @MaHocKy;
--TÌM KIẾM HỌC KỲ.
GO
CREATE PROC TimKiemHocKy
@TimKiem nvarchar(50)
AS
	SELECT MaHocKy, TenHocKy FROM HocKy
	WHERE MaHocKy LIKE '%'+@TimKiem+'%' OR TenHocKy LIKE '%'+@TimKiem+'%'
	ORDER BY MaHocKy DESC;
--/*###=========================GIAO DIỆN HỆ ĐÀO TẠO======================###*/
--XÓA HỆ ĐÀO TẠO
GO
CREATE PROC XoaHeDaoTao
@MaHe varchar(10)
AS
	DELETE FROM HeDaoTao WHERE MaHe = @MaHe;
--THÊM HỆ ĐÀO TẠO
GO
CREATE PROC ThemHeDaoTao
@MaHe varchar(10),
@TenHe nvarchar(50)
AS
	INSERT INTO HeDaoTao(MaHe, TenHe) VALUES (@MaHe, @TenHe);
--SỬA HỆ ĐÀO TẠO
GO
CREATE PROC SuaHeDaoTao
@MaHe varchar(10),
@TenHe nvarchar(50)
AS
	UPDATE HeDaoTao SET TenHe = @TenHe WHERE MaHe = @MaHe;
--TÌM KIẾM HỆ ĐÀO TẠO
GO
CREATE PROC TimKiemHeDaoTao
@TimKiem nvarchar(50)
AS
	SELECT MaHe, TenHe FROM HeDaoTao WHERE MaHe LIKE '%'+@TimKiem+'%' OR TenHe LIKE '%'+@TimKiem+'%';
--/*###=========================GIAO DIỆN KHOA======================###*/
--XÓA KHOA
GO
CREATE PROC XoaKhoa
@MaKhoa varchar(10)
AS
	DELETE FROM Khoa WHERE MaKhoa = @MaKhoa;
--THÊM KHOA
GO
CREATE PROC ThemKhoa
@MaKhoa varchar(10),
@TenKhoa nvarchar(50)
AS
	INSERT INTO Khoa(MaKhoa, Tenkhoa) VALUES (@MaKhoa, @TenKhoa);
--SỬA KHOA
GO
CREATE PROC SuaKhoa
@MaKhoa varchar(10),
@TenKhoa nvarchar(50)
AS
	UPDATE Khoa SET Tenkhoa = @TenKhoa WHERE MaKhoa = @MaKhoa;
--TÌM KIẾM KHOA
GO
CREATE PROC TimKiemKhoa
@TimKiem nvarchar(50)
AS
	SELECT MaKhoa, Tenkhoa FROM Khoa WHERE MaKhoa LIKE '%'+@TimKiem+'%' OR Tenkhoa LIKE '%'+@TimKiem+'%';
--/*###=========================GIAO DIỆN NGÀNH ĐÀO TẠO======================###*/
--DANH SÁCH NGÀNH ĐÀO TẠO
GO
CREATE PROC DanhSachThongTinNganhDaoTao
AS
	SELECT A.MaNganh, A.TenNganh, B.Tenkhoa FROM NganhDaoTao A, Khoa B
	WHERE A.MaKhoa = B.MaKhoa
	ORDER BY TenNganh ASC;
--XÓA NGÀNH ĐÀO TẠO
GO
CREATE PROC XoaNganhDaoTao
@MaNganh varchar(10)
AS
	DELETE FROM NganhDaoTao WHERE MaNganh = @MaNganh;
--THÊM NGÀNH ĐÀO TẠO
GO
CREATE PROC ThemNganhDaoTao
@MaNganh varchar(10),
@TenNganh nvarchar(50),
@MaKhoa varchar(10)
AS
	INSERT INTO NganhDaoTao(MaNganh, TenNganh, MaKhoa) VALUES (@MaNganh, @TenNganh, @MaKhoa);
--SỬA NGÀNH ĐÀO TẠO.
GO
CREATE PROC SuaNganhDaoTao
@MaNganh varchar(10),
@TenNganh nvarchar(50),
@MaKhoa varchar(10)
AS
	UPDATE NganhDaoTao SET TenNganh = @TenNganh, MaKhoa = @MaKhoa
	WHERE MaNganh = @MaNganh;
--TÌM KIẾM NGÀNH ĐÀO TẠO.
GO
CREATE PROC TimKiemThongTinNganhDaoTao
@TimKiem nvarchar(50)
AS
	SELECT A.MaNganh, A.TenNganh, B.Tenkhoa FROM NganhDaoTao A, Khoa B
	WHERE A.MaKhoa = B.MaKhoa AND (A.TenNganh LIKE '%'+@TimKiem+'%' OR A.MaNganh LIKE '%'+@TimKiem+'%' 
	OR A.MaKhoa LIKE '%'+@TimKiem+'%')
	ORDER BY TenNganh ASC;
--/*###=========================GIAO DIỆN ĐĂNG NHẬP======================###*/
--KIỂM TRA ĐĂNG NHẬP.
GO
CREATE PROC KiemTraDangNhap
@TaiKhoan varchar(30),
@MatKhau varchar(30)
AS
	SELECT Quyen FROM ThongTinDanhNhap WHERE TaiKhoan = @TaiKhoan AND MatKhau = @MatKhau;
--UPDATE TRẠNG THÁI.
GO
CREATE PROC UpDateTrangThai
@TaiKhoan varchar(30),
@TrangThai bit
AS
	UPDATE ThongTinDanhNhap SET TrangThai = @TrangThai
	WHERE TaiKhoan = @TaiKhoan;
--UPDATE MẬT KHẨU
GO
CREATE PROC UpDateMatKhau
@TaiKhoan varchar(30),
@MatKhau varchar(30)
AS
	UPDATE ThongTinDanhNhap SET MatKhau = @MatKhau
	WHERE TaiKhoan = @TaiKhoan;
--THÊM TÀI KHOẢN
GO
CREATE PROC ThemTaiKhoan
@TaiKhoan varchar(30),
@Quyen nvarchar(30)
AS
	INSERT INTO ThongTinDanhNhap(TaiKhoan, MatKhau, Quyen, TrangThai) 
	VALUES (@TaiKhoan, 'DHXD', @Quyen, '0');
--CHỈNH SỬA QUYỀN
GO
CREATE PROC ChinhSuaQuyen
@TaiKhoan varchar(30),
@Quyen nvarchar(30)
AS
	UPDATE ThongTinDanhNhap SET Quyen = @Quyen
	WHERE TaiKhoan = @TaiKhoan;
--XÓA TÀI KHOẢN
GO
CREATE PROC XoaTaiKhoan
@TaiKhoan varchar(30)
AS
	DELETE FROM ThongTinDanhNhap WHERE TaiKhoan = @TaiKhoan;
--TÌM KIẾM TÀI KHOẢN
GO
CREATE PROC TimKiemTaiKhoan
@TimKiem nvarchar(30)
AS
	SELECT TaiKhoan, Quyen, TrangThai FROM ThongTinDanhNhap
	WHERE TaiKhoan LIKE '%'+@TimKiem+'%' OR Quyen LIKE '%'+@TimKiem+'%' OR TrangThai LIKE '%'+@TimKiem+'%'
	ORDER BY TaiKhoan ASC;
--DANH SÁCH TÀI KHOẢN
GO
CREATE PROC DanhSachTaiKhoan
AS
	SELECT TaiKhoan, Quyen, TrangThai FROM ThongTinDanhNhap ORDER BY TaiKhoan ASC;
--DANH SÁCH QUYỀN
GO
CREATE PROC DanhSachQuyen
AS
	SELECT DISTINCT Quyen FROM ThongTinDanhNhap ORDER BY Quyen ASC;
--//##======================IN BÁO CÁO======================##//--
--LẤY RA TOÀN BỘ KẾT QUẢ HỌC TẬP CỦA SINH VIÊN.